$primary-color-lighter: #E0F7FA;
$primary-color-light: #B2EBF2;
$primary-color: #00BCD4;
$primary-color-dark: #0097A7;
$primary-color-darker: #006064;

$neutral-color-light: #F5F5F5;
$neutral-color: #EEEEEE;
$neutral-color-dark: #AAAAAA;

$success-color: #4CAF50;
$warning-color: #FF9800;
$danger-color: #F44336;

$text-color: hsla(0, 0%, 0%, 0.75);
$text-color-light: hsla(0, 0%, 0%, 0.50);
$text-color-invert: hsla(0, 100%, 100%, 0.99);

$separator-color: #DDD;

$background-color: white;